In [30]:
import pandas as pd
import numpy as np

In [17]:
file = "04-Pandas_homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [36]:
#Total player count
players_list = purchase_data["SN"].unique()
print(len(players_list))

576

In [19]:
#Unique items
unique_items = purchase_data["Item Name"].unique()
print(unique_items)

['Extraction, Quickblade Of Trembling Hands' 'Frenzied Scimitar'
 'Final Critic' 'Blindscythe' 'Fury' 'Dreamkiss'
 'Interrogator, Blood Blade of the Queen' 'Abyssal Shard' 'Souleater'
 'Ghastly Adamantite Protector' 'Singed Onyx Warscythe'
 'Renewed Skeletal Katana' "Bloodlord's Fetish"
 'Bone Crushing Silver Skewer' 'Deadline, Voice Of Subtlety'
 'Second Chance' 'Devine' 'Nirvana' 'Blazefury, Protector of Delusions'
 'Despair, Favor of Due Diligence' 'Sun Strike, Jaws of Twisted Visions'
 'Warped Fetish' 'Severance' 'Persuasion'
 'Oathbreaker, Last Hope of the Breaking Storm' 'Demise'
 'Blood-Forged Skeletal Spine' 'Stormbringer, Dark Blade of Ending Misery'
 'Shadow Strike, Glory of Ending Hope' 'Striker'
 'Wolf, Promise of the Moonwalker' "Faith's Scimitar"
 'Bonecarvin Battle Axe' 'Azurewrath' 'Vengeance Cleaver'
 'Haunted Bronzed Bludgeon' 'Ritual Mace' 'Blade of the Grave'
 'Thorn, Satchel of Dark Souls' "Winter's Bite"
 'Thorn, Conqueror of the Corrupted' "Reaper's Toll" 'Avenger'
 'Shadowsteel' 'Peacekeeper, Wit of Dark Magic' 'Suspension' 'Amnesia'
 'Soul Infused Crystal' 'Wolf' 'Relentless Iron Skewer' 'Hero Cane'
 'Arcane Gem' 'Dreamsong' 'Darkheart' 'Hailstorm Shadowsteel Scythe'
 'Whistling Mithril Warblade' 'Foul Titanium Battle Axe' 'Retribution Axe'
 'Rusty Skull' 'Riddle, Tribute of Ended Dreams' 'Chaos, Ender of the End'
 'Storm-Weaver, Slayer of Inception' 'Venom Claymore'
 'Emberling, Defender of Delusions' 'Netherbane' 'Dawn' 'Primitive Blade'
 'Dawne' 'Curved Axe' 'Fate, Vengeance of Eternal Justice'
 'Lazarus, Terror of the Earth' 'Lightning, Etcher of the King'
 'Betrayal, Whisper of Grieving Widows' 'Exiled Doomblade'
 'Undead Crusader' 'Downfall, Scalpel Of The Emperor' 'Sleepwalker'
 'Eternal Cleaver' 'Expiration, Warscythe Of Lost Worlds' 'Malificent Bag'
 'Mercy, Katana of Dismay' 'Orbit' 'Deathraze' 'Serenity'
 'Heartstriker, Legacy of the Light' 'Glimmer, Ender of the Moon'
 'Deluge, Edge of the West' 'Crucifer' 'Piece Maker'
 'Brutality Ivory Warmace' "Freak's Bite, Favor of Holy Might"
 'Yearning Crusher' 'Agatha' 'Fiery Glass Crusader' 'Splinter' 'Verdict'
 'Warped Iron Scimitar' 'Darkheart, Butcher of the Champion'
 'Purgatory, Gem of Regret' 'Woeful Adamantite Claymore'
 'Hopeless Ebon Dualblade' "Warmonger, Gift of Suffering's End"
 "Misery's End" 'Phantomlight' 'Conqueror Adamantite Mace'
 "Dragon's Greatsword" 'Stormcaller' 'Spada, Etcher of Hatred'
 "Twilight's Carver" 'Putrid Fan' 'Blood Infused Guardian'
 'Singed Scalpel' 'Warped Diamond Crusader' 'Endbringer' 'Feral Katana'
 'Orenmir' 'Piety, Guardian of Riddles' 'Brimstone' 'Stormfury Mace'
 'Frenzy, Defender of the Harvest' "Solitude's Reaver" 'Mercenary Sabre'
 'Yearning Mageblade' 'Tranquility, Razor of Black Magic'
 'Oathbreaker, Spellblade of Trials' 'Aetherius, Boon of the Blessed'
 'Righteous Might' 'Victor Iron Spikes' 'Swan Song, Gouger Of Terror'
 'Thunderfury Scimitar' 'Splitter, Foe Of Subtlety' 'Restored Bauble'
 'The Decapitator' 'Pursuit, Cudgel of Necromancy' 'Lifebender'
 'Flux, Destroyer of Due Diligence' 'Mourning Blade' 'Toothpick'
 "Hope's End" 'Torchlight, Bond of Storms' 'Thirsty Iron Reaver'
 'Stormfury Longsword' 'Malice, Legacy of the Queen'
 'War-Forged Gold Deflector' 'Blazeguard, Reach of Eternity'
 'Soul-Forged Steel Shortsword' 'Hellreaver, Heirloom of Inception'
 'Heartless Bone Dualblade' 'Scalpel' 'Hatred' 'Crying Steel Sickle'
 'The Void, Vengeance of Dark Magic' 'Celeste'
 'Ghost Reaver, Longsword of Magic'
 'Celeste, Incarnation of the Corrupted' 'Glinting Glass Edge'
 'The Oculus, Token of Lost Worlds' 'Massacre' 'Alpha, Oath of Zeal'
 'Possessed Core' 'Foul Edge' 'Trickster' 'Fusion Pummel'
 'Stormfury Lantern' 'Apocalyptic Battlescythe' 'Unholy Wand'
 'Unending Tyranny' 'Ragnarok' 'Rage, Legacy of the Lone Victor'
 'Worldbreaker' 'Exiled Mithril Longsword' 'Spectral Diamond Doomblade'
 'Vindictive Glass Edge' 'Heartseeker, Reaver of Souls'
 'Alpha, Reach of Ending Hope' 'Alpha' 'Betrayer'
 'Winterthorn, Defender of Shifting Worlds' "Gladiator's Glaive"]

In [20]:
#Average purchase price
average_purchase_price = purchase_data["Price"].mean()
print(average_purchase_price)

3.050987179487176

In [21]:
#Total number of purchases
print(purchase_data["Price"].count())

780

In [22]:
#Total revenue
total_revenue = purchase_data["Price"].sum()
print(total_revenue)

2379.77

In [23]:
#Gender totals and percentages
gender_total = purchase_data["Gender"].count()

only_males_list = purchase_data.loc[purchase_data["Gender"] == "Male", :]
only_males_count = len(only_males_list)
only_females_list = purchase_data.loc[purchase_data["Gender"] == "Female", :]
only_females_count = len(only_females_list)
only_non_binary_list = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
only_non_binary_count = len(only_non_binary_list)

males_percent = (only_males_count / gender_total) * 100
females_percent = (only_females_count / gender_total) * 100
non_binary_percent = (only_non_binary_count / gender_total) * 100

print(only_males_count)
print(males_percent)
print(only_females_count)
print(females_percent)
print(only_non_binary_count)
print(non_binary_percent)

652
83.58974358974359
113
14.487179487179489
15
1.9230769230769231

In [24]:
#Gender breakdown of Purchase Count, Average Purchase Price, Total Purchase Value, and Average Purchase Total per Person
grouped_purchase_data = purchase_data.groupby(["Gender"])
grouped_purchase_data_means = grouped_purchase_data["Price"].mean()
print(grouped_purchase_data_means)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [48]:
#Gender breakdown
gender_breakdown = purchase_data.groupby(["Gender"])

purchase_count = gender_breakdown["Purchase ID"].count()
average_price = gender_breakdown["Price"].mean()
total_purchase_value = gender_breakdown["Price"].sum()
gendered_players_list = gender_breakdown["SN"].unique()
av_per_person = total_purchase_value / len(gendered_players_list)

display("Total Purchase Count:")
display(purchase_count)
display("Average Purchase Price:")
display(average_price)
display("Total Purchase Value:")
display(total_purchase_value)
display("Average Purchase Value per Person:")
display(av_per_person)

'Total Purchase Count:'

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

'Average Purchase Price:'

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

'Total Purchase Value:'

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

'Average Purchase Value per Person:'

Gender
Female                   120.646667
Male                     655.880000
Other / Non-Disclosed     16.730000
Name: Price, dtype: float64

In [49]:
#Binning based on age
bins = [0,10,20,30,40,50,1000]
group_names = ["Under 10", "Btw 10-20", "Btw 20-30", "Btw 30-40", "Btw 40-50", "Over 50",]

purchase_data["Binned Ages"] = pd.cut(purchase_data["Age"], bins, labels = group_names)

age_breakdown = purchase_data.groupby(["Binned Ages"])

total_purchase_count = age_breakdown["Purchase ID"].count()
average_price = age_breakdown["Price"].mean()
total_purchase_value = age_breakdown["Price"].sum()
age_binned_players_list = age_breakdown["SN"].unique()
av_per_person = total_purchase_value / len(age_binned_players_list)

display("Total Purchase Count:")
display(purchase_count)
display("Average Purchase Price:")
display(average_price)
display("Total Purchase Value:")
display(total_purchase_value)
display("Average Purchase Value per Person:")
display(av_per_person)

age_summary = [{"Total Purchase Count": purchase_count, "Average Purchase Price": average_price},
                {"Total Purchase Value": total_purchase_value, "Average Purchase Value per Person": av_per_person}]
df_age_summary = pd.DataFrame(age_summary)
display(df_age_summary)

'Total Purchase Count:'

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

'Average Purchase Price:'

Binned Ages
Under 10     3.405000
Btw 10-20    3.063622
Btw 20-30    2.992687
Btw 30-40    3.153647
Btw 40-50    3.075714
Over 50           NaN
Name: Price, dtype: float64

'Total Purchase Value:'

Binned Ages
Under 10      108.96
Btw 10-20     778.16
Btw 20-30    1203.06
Btw 30-40     268.06
Btw 40-50      21.53
Over 50         0.00
Name: Price, dtype: float64

'Average Purchase Value per Person:'

Binned Ages
Under 10      18.160000
Btw 10-20    129.693333
Btw 20-30    200.510000
Btw 30-40     44.676667
Btw 40-50      3.588333
Over 50        0.000000
Name: Price, dtype: float64

,Total Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Value per Person
0,Gender Female 113 Male ...,Binned Ages Under 10 3.405000 Btw 10-20 ...,NaN,NaN
1,NaN,NaN,Binned Ages Under 10 108.96 Btw 10-20 ...,Binned Ages Under 10 18.160000 Btw 10-20 ...