In [1]:
import pandas as pd

file = "04-Pandas_homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total player count
players_list = purchase_data["SN"].unique()
print(f'Total number of players: {len(players_list)}')

Total number of players: 576

In [3]:
#Average purchase price
average_purchase_price = purchase_data["Price"].mean()
print(f'Average purchase price: {average_purchase_price}')

#Unique items
unique_items = purchase_data["Item Name"].unique()
print(f'Number of unique items: {len(unique_items)}')

#Total number of purchases
print(f'Total number of purchases: {purchase_data["Price"].count()}')

#Total revenue
total_revenue = purchase_data["Price"].sum()
print(f'Total revenue: {total_revenue}')

Average purchase price: 3.050987179487176
Number of unique items: 179
Total number of purchases: 780
Total revenue: 2379.77

In [4]:
#Gender totals and percentages
gender_total = purchase_data["Gender"].count()

only_males_list = purchase_data.loc[purchase_data["Gender"] == "Male", :]
only_males_count = len(only_males_list)
only_females_list = purchase_data.loc[purchase_data["Gender"] == "Female", :]
only_females_count = len(only_females_list)
only_non_binary_list = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
only_non_binary_count = len(only_non_binary_list)

males_percent = (only_males_count / gender_total) * 100
females_percent = (only_females_count / gender_total) * 100
non_binary_percent = (only_non_binary_count / gender_total) * 100

print(f'Males count: {only_males_count}')
print(f'Males percentage: {males_percent}')
print(f'Females count: {only_females_count}')
print(f'Females percentage: {females_percent}')
print(f'Non-binary count: {only_non_binary_count}')
print(f'Non-binary percentage: {non_binary_percent}')

Males count: 652
Males percentage: 83.58974358974359
Females count: 113
Females percentage: 14.487179487179489
Non-binary count: 15
Non-binary percentage: 1.9230769230769231

In [5]:
#Gender breakdown
gender_breakdown = purchase_data.groupby(["Gender"])

purchase_count = gender_breakdown["Purchase ID"].count()
average_price = gender_breakdown["Price"].mean()
total_purchase_value = gender_breakdown["Price"].sum()
gendered_players_list = gender_breakdown["SN"].unique()
av_per_person = total_purchase_value / len(gendered_players_list)

display("Total Purchase Count:")
display(purchase_count)
display("Average Purchase Price:")
display(average_price)
display("Total Purchase Value:")
display(total_purchase_value)
display("Average Purchase Value per Person:")
display(av_per_person)

'Total Purchase Count:'

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

'Average Purchase Price:'

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

'Total Purchase Value:'

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

'Average Purchase Value per Person:'

Gender
Female                   120.646667
Male                     655.880000
Other / Non-Disclosed     16.730000
Name: Price, dtype: float64

In [6]:
#creating bins of 4 years

bins = [10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, 54, 58]
group_names_4 = ["<10", "10-14", "14-18", "18-22", "22-26", "26-30", "30-34", "34-38", "38-42", "42-46", "46-50", ">56"]

purchase_data["Binned Ages of 4 Yr Intervals"] = pd.cut(purchase_data["Age"], bins, labels = group_names_4)

age_breakdown = purchase_data.groupby(["Binned Ages of 4 Yr Intervals"])

total_purchase_count = age_breakdown["Purchase ID"].count()
average_price = age_breakdown["Price"].mean()
total_purchase_value = age_breakdown["Price"].sum()
age_binned_players_list = age_breakdown["SN"].unique()
av_per_person = total_purchase_value / len(age_binned_players_list)

display("Total Purchase Count:")
display(purchase_count)
display("Average Purchase Price:")
display(average_price)
display("Total Purchase Value:")
display(total_purchase_value)
display("Average Purchase Value per Person:")
display(av_per_person)

'Total Purchase Count:'

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

'Average Purchase Price:'

Binned Ages of 4 Yr Intervals
<10      2.681579
10-14    3.034602
14-18    3.038937
18-22    3.063961
22-26    2.876667
26-30    2.728421
30-34    3.552857
34-38    3.366667
38-42    2.765000
42-46         NaN
46-50         NaN
>56           NaN
Name: Price, dtype: float64

'Total Purchase Value:'

Binned Ages of 4 Yr Intervals
<10       50.95
10-14    342.91
14-18    771.89
18-22    634.24
22-26    181.23
26-30    103.68
30-34    124.35
34-38     50.50
38-42     11.06
42-46      0.00
46-50      0.00
>56        0.00
Name: Price, dtype: float64

'Average Purchase Value per Person:'

Binned Ages of 4 Yr Intervals
<10       4.245833
10-14    28.575833
14-18    64.324167
18-22    52.853333
22-26    15.102500
26-30     8.640000
30-34    10.362500
34-38     4.208333
38-42     0.921667
42-46     0.000000
46-50     0.000000
>56       0.000000
Name: Price, dtype: float64

In [7]:
#Finding the 5 top spenders

#Creating a new data frame grouped by players and summing the "Price" column to find top spenders by volume
grouped_by_players = purchase_data.groupby(["SN"])
grouped_players_spending = grouped_by_players["Price"].sum()
sorted_players_volume = grouped_players_spending.sort_values(ascending = False)

print("The Top Five Spenders' Total Purchase Volume:")
print("-------------------------")
print(sorted_players_volume.head(5))

#Creating a new data frames with only the info of the top 5 spenders by purchase volume

only_Lisosia93_df = purchase_data.loc[purchase_data["SN"] == "Lisosia93", :]
only_Idastidru52_df = purchase_data.loc[purchase_data["SN"] == "Idastidru52", :]
only_Chamjask73_df = purchase_data.loc[purchase_data["SN"] == "Chamjask73", :]
only_Iral74_df = purchase_data.loc[purchase_data["SN"] == "Iral74", :]
only_Iskadarya95_df = purchase_data.loc[purchase_data["SN"] == "Iskadarya95", :]

#Finding relevant variables within those newly created data frames

only_Lisosia93_count = only_Lisosia93_df["Price"].count()
only_Lisosia93_ave = only_Lisosia93_df["Price"].mean()
only_Idastidru52_count = only_Idastidru52_df["Price"].count()
only_Idastidru52_ave = only_Idastidru52_df["Price"].mean()
only_Chamjask73_count = only_Chamjask73_df["Price"].count()
only_Chamjask73_ave = only_Chamjask73_df["Price"].mean()
only_Iral74_count = only_Iral74_df["Price"].count()
only_Iral74_ave = only_Iral74_df["Price"].mean()
only_Iskadarya95_count = only_Iskadarya95_df["Price"].count()
only_Iskadarya95_ave = only_Iskadarya95_df["Price"].mean()

#Printing additional relevant statistics

print("-------------------------")
print(f'Lisosia93 purchase count:  {only_Lisosia93_count}')
print(f'Lisosia93 purchase price average: {only_Lisosia93_ave}')
print(f'Idastidru52 purchase count:  {only_Idastidru52_count}')
print(f'Idastidru52 purchase price average: {only_Idastidru52_ave}')
print(f'Chamjask73 purchase count:  {only_Chamjask73_count}')
print(f'Chamjask73 purchase price average: {only_Chamjask73_ave}')
print(f'Iral74 purchase count:  {only_Iral74_count}')
print(f'Iral74 purchase price average: {only_Iral74_ave}')
print(f'Iskadarya95 purchase count:  {only_Iskadarya95_count}')
print(f'Iskadarya95 purchase price average: {only_Iskadarya95_ave}')

The Top Five Spenders' Total Purchase Volume:
-------------------------
SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64
-------------------------
Lisosia93 purchase count:  5
Lisosia93 purchase price average: 3.7920000000000003
Idastidru52 purchase count:  4
Idastidru52 purchase price average: 3.8625
Chamjask73 purchase count:  3
Chamjask73 purchase price average: 4.61
Iral74 purchase count:  4
Iral74 purchase price average: 3.4049999999999994
Iskadarya95 purchase count:  3
Iskadarya95 purchase price average: 4.366666666666666

In [8]:
#Finding the 5 most popular items

#Creating a new data frame grouped by items name and counting each item's frequency

grouped_by_item = purchase_data.groupby(["Item Name"])
grouped_item_count = grouped_by_item["Item Name"].count()
sorted_item_count = grouped_item_count.sort_values(ascending = False)

print("The Top Five Most Popular Item By Purchase Count:")
print("-------------------------")
print(sorted_item_count.head(5))

#Creating a new data frames with only the info of the top 5 most popular items

only_final_critic_df = purchase_data.loc[purchase_data["Item Name"] == "Final Critic", :]
only_oathbreaker_df = purchase_data.loc[purchase_data["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm", :]
only_nirvana_df = purchase_data.loc[purchase_data["Item Name"] == "Nirvana", :]
only_persuasion_df = purchase_data.loc[purchase_data["Item Name"] == "Persuasion", :]
only_fiery_glass_crusader_df = purchase_data.loc[purchase_data["Item Name"] == "Fiery Glass Crusader", :]

#Finding relevant variables within those newly created data frames

only_final_critic_id = only_final_critic_df["Item ID"]
only_final_critic_price = only_final_critic_df["Price"]
only_final_critic_total_value = only_final_critic_df["Price"].sum()
only_oathbreaker_id = only_oathbreaker_df["Item ID"]
only_oathbreaker_price = only_oathbreaker_df["Price"]
only_oathbreaker_total_value = only_oathbreaker_df["Price"].sum()
only_nirvana_id = only_nirvana_df["Item ID"]
only_nirvana_price = only_nirvana_df["Price"]
only_nirvana_total_value = only_nirvana_df["Price"].sum()
only_persuasion_id = only_persuasion_df["Item ID"]
only_persuasion_price = only_persuasion_df["Price"]
only_persuasion_total_value = only_persuasion_df["Price"].sum()
only_fiery_glass_crusader_id = only_fiery_glass_crusader_df["Item ID"]
only_fiery_glass_crusader_price = only_fiery_glass_crusader_df["Price"]
only_fiery_glass_crusader_total_value = only_fiery_glass_crusader_df["Price"].sum()

#Printing additional relevant statistics

print("-------------------------")
print(f'Final Critic Index, Item ID: {only_final_critic_id.head(1)}')
print(f'Final Critic Index, Item Price: {only_final_critic_price.head(1)}')
print(f'Final Critic Total Purcase Value: {only_final_critic_total_value}')
print(f'Oathbreaker Index, Item ID: {only_oathbreaker_id.head(1)}')
print(f'Oathbreaker Index, Item Price: {only_oathbreaker_price.head(1)}')
print(f'Oathbreaker Total Purcase Value: {only_oathbreaker_total_value}')
print(f'Nirvana Index, Item ID: {only_nirvana_id.head(1)}')
print(f'Nirvana Index, Item Price: {only_oathbreaker_price.head(1)}')
print(f'Nirvana Total Purcase Value: {only_oathbreaker_total_value}')
print(f'Persuasion Index, Item ID: {only_persuasion_id.head(1)}')
print(f'Persuasion Index, Item Price: {only_persuasion_price.head(1)}')
print(f'Persuasion Total Purcase Value: {only_persuasion_total_value}')
print(f'Fiery Glass Crusader Index, Item ID: {only_fiery_glass_crusader_id.head(1)}')
print(f'Fiery Glass Crusader Index, Item Price: {only_fiery_glass_crusader_price.head(1)}')
print(f'Fiery Glass Crusader Total Purcase Value: {only_fiery_glass_crusader_total_value}')

The Top Five Most Popular Item By Purchase Count:
-------------------------
Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64
-------------------------
Final Critic Index, Item ID: 2    92
Name: Item ID, dtype: int64
Final Critic Index, Item Price: 2    4.88
Name: Price, dtype: float64
Final Critic Total Purcase Value: 59.99
Oathbreaker Index, Item ID: 25    178
Name: Item ID, dtype: int64
Oathbreaker Index, Item Price: 25    4.23
Name: Price, dtype: float64
Oathbreaker Total Purcase Value: 50.76000000000002
Nirvana Index, Item ID: 18    82
Name: Item ID, dtype: int64
Nirvana Index, Item Price: 25    4.23
Name: Price, dtype: float64
Nirvana Total Purcase Value: 50.76000000000002
Persuasion Index, Item ID: 24    141
Name: Item ID, dtype: int64
Persuasion Index, Item Price: 24    3.19
Name: Price, dtype: float64
Persuasion Total Purcase Value: 28.989999999999995
Fiery Glass Crusader Index, Item ID: 132    145
Name: Item ID, dtype: int64
Fiery Glass Crusader Index, Item Price: 132    4.58
Name: Price, dtype: float64
Fiery Glass Crusader Total Purcase Value: 41.22

In [9]:
#Finding the 5 most popular items by purchase value

#Creating a new data frame grouped by items name and counting each item's frequency

grouped_by_item = purchase_data.groupby(["Item Name"])
grouped_item_value = grouped_by_item["Price"].sum()
sorted_item_value = grouped_item_value.sort_values(ascending = False)

print("The Top Five Most Popular Item By Purchase Value:")
print("-------------------------")
print(sorted_item_value.head(5))

#Creating a new data frames with only the info of the top 5 most popular items by purchase value

only_final_critic_df = purchase_data.loc[purchase_data["Item Name"] == "Final Critic", :]
only_oathbreaker_df = purchase_data.loc[purchase_data["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm", :]
only_nirvana_df = purchase_data.loc[purchase_data["Item Name"] == "Nirvana", :]
only_fiery_glass_crusader_df = purchase_data.loc[purchase_data["Item Name"] == "Fiery Glass Crusader", :]
only_signed_scalpel_df = purchase_data.loc[purchase_data["Item Name"] == "Singed Scalpel", :]


#Finding relevant variables within those newly created data frames

only_final_critic_id = only_final_critic_df["Item ID"]
only_final_critic_price = only_final_critic_df["Price"]
only_final_critic_count = only_final_critic_df["Price"].count()
only_oathbreaker_id = only_oathbreaker_df["Item ID"]
only_oathbreaker_price = only_oathbreaker_df["Price"]
only_oathbreaker_count = only_oathbreaker_df["Price"].count()
only_nirvana_id = only_nirvana_df["Item ID"]
only_nirvana_price = only_nirvana_df["Price"]
only_nirvana_count = only_nirvana_df["Price"].count()
only_fiery_glass_crusader_id = only_fiery_glass_crusader_df["Item ID"]
only_fiery_glass_crusader_price = only_fiery_glass_crusader_df["Price"]
only_fiery_glass_crusader_count = only_fiery_glass_crusader_df["Price"].count()
only_signed_scalpel_id = only_signed_scalpel_df["Item ID"]
only_signed_scalpel_price = only_signed_scalpel_df["Price"]
only_signed_scalpel_count = only_signed_scalpel_df["Price"].count()


#Printing additional relevant statistics

print("-------------------------")
print(f'Final Critic Index, Item ID: {only_final_critic_id.head(1)}')
print(f'Final Critic Index, Item Price: {only_final_critic_price.head(1)}')
print(f'Final Critic Total Purcase Count: {only_final_critic_count}')
print(f'Oathbreaker Index, Item ID: {only_oathbreaker_id.head(1)}')
print(f'Oathbreaker Index, Item Price: {only_oathbreaker_price.head(1)}')
print(f'Oathbreaker Total Purcase Count: {only_oathbreaker_count}')
print(f'Nirvana Index, Item ID: {only_nirvana_id.head(1)}')
print(f'Nirvana Index, Item Price: {only_oathbreaker_price.head(1)}')
print(f'Nirvana Total Purcase Count: {only_nirvana_count}')
print(f'Fiery Glass Crusader Index, Item ID: {only_fiery_glass_crusader_id.head(1)}')
print(f'Fiery Glass Crusader Index, Item Price: {only_fiery_glass_crusader_price.head(1)}')
print(f'Fiery Glass Crusader Total Purcase Count: {only_fiery_glass_crusader_count}')
print(f'Signed Scalpel Index, Item ID: {only_signed_scalpel_id.head(1)}')
print(f'Signed Scalpel Index, Item Price: {only_signed_scalpel_price.head(1)}')
print(f'Signed Scalpel Total Purcase Count: {only_signed_scalpel_count}')

The Top Five Most Popular Item By Purchase Value:
-------------------------
Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Name: Price, dtype: float64
-------------------------
Final Critic Index, Item ID: 2    92
Name: Item ID, dtype: int64
Final Critic Index, Item Price: 2    4.88
Name: Price, dtype: float64
Final Critic Total Purcase Count: 13
Oathbreaker Index, Item ID: 25    178
Name: Item ID, dtype: int64
Oathbreaker Index, Item Price: 25    4.23
Name: Price, dtype: float64
Oathbreaker Total Purcase Count: 12
Nirvana Index, Item ID: 18    82
Name: Item ID, dtype: int64
Nirvana Index, Item Price: 25    4.23
Name: Price, dtype: float64
Nirvana Total Purcase Count: 9
Fiery Glass Crusader Index, Item ID: 132    145
Name: Item ID, dtype: int64
Fiery Glass Crusader Index, Item Price: 132    4.58
Name: Price, dtype: float64
Fiery Glass Crusader Total Purcase Count: 9
Signed Scalpel Index, Item ID: 175    103
Name: Item ID, dtype: int64
Signed Scalpel Index, Item Price: 175    4.35
Name: Price, dtype: float64
Signed Scalpel Total Purcase Count: 8